
<!--
<app-login></app-login>
<h1> Welcome to Angular </h1>

{{ "JavaByKiran" | slice : 1 : 4  }} <br><br>

{{title}}

<input [value]="title">
<input value="{{title}}">

<br><br>
-->

<html>
    


<nav>

    <a href="login" style="margin-left: 400px;">Start Exam</a>

</nav>

<br><br><br>

<router-outlet></router-outlet>



<!-- 
    In app.component.html , we specify selector of that html
    file , which we want to execute
    
    addition.component.html
    
    <p>addition works!</p>

-->

</html>